<h1>New Game</h1>
<%= @letters %>

<form action="score">
  <h2>What is the longest word you can find?</h2>
  <input type="text" name="question" placeholder="Word" value="">
  <input type="submit" value="Word!">
</form>

